/* App-wide styling */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

img {
    border-radius: 1000;
    width: 500;
    height:500;
}